@model ReflectionIT.Mvc.Paging.PagingList<Coffe.Models.News>;
@addTagHelper *, ReflectionIT.Mvc.Paging;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = Localizer["News"];
    Layout = "_Layout";
}

<div id="tp-page-header" class="tp-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@Localizer["News"]</h1>
            </div>
        </div>
    </div>
</div>
<!-- /.page header -->
<div id="tp-breadcrumb" class="tp-breadcrumb">
    <!-- breadcrumb -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <a asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                    </li>
                    <li class="active">@Localizer["News"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- /.breadcrumb -->
<div id="main-container" class="main-container">
    <!-- main container -->
    <div id="tp-services-section" class="tp-services-section">
        <!-- about section -->
        <div class="container">
            <div class="row">

                @foreach (var news in Model)
                {
                    <div class="col-md-4 news-block wow fadeIn animated" data-wow-delay="0.0s" style="visibility: visible;-webkit-animation-delay: 0.0s; -moz-animation-delay: 0.0s; animation-delay: 0.0s;">
                        <div class="service-block mb30">
                            <div class="service-img mb30">
                                <a asp-controller="News" asp-action="Details" asp-route-id="@news.Id" class="imghover" style="height: 400px">
                                    <img src="~/img/@news.Image" class="img-responsive" style="width: 100%;object-fit: cover;height: inherit" alt="@news.Image">
                                </a>
                            </div>
                            <div class="service-content">
                                <h2>
                                    <a asp-controller="News" asp-action="Details" asp-route-id="@news.Id">
                                        @if (ViewBag.Culture == "az")
                                        {
                                            @news.Title
                                        }
                                        else if (ViewBag.Culture == "en")
                                        {
                                            @news.TitleEn
                                        }
                                        else if (ViewBag.Culture == "ru")
                                        {
                                            @news.TitleRu
                                        }
                                    </a>
                                </h2>
                                <a asp-controller="News" asp-action="Details" asp-route-id="@news.Id" class="btn btn-default">@Localizer["ReadMore"]</a>
                            </div>
                        </div>
                    </div>
                }

                <div class="clearfix"></div>
                <div class="col-xs-12 col-sm-6 text-left">
                    <nav aria-label="News Paging">
                        @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
                    </nav>
                </div>
            </div>
        </div>
        <!-- /.about section -->
    </div>
    <!-- /.main container -->
</div>