@model Category;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = Localizer["Products"];
    Layout = "_Layout";
}

@section Style
{
    
    
    <style>
      .card{
          border: 1px solid #DCDCDC;
         margin-bottom: 30px;
      } 
      .card-body{
          padding: 20px;
      }
      .card-image{
          display: flex;
          justify-content: center;
      }
    </style>
}
<div id="tp-page-header" class="tp-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@Localizer["Products"]</h1>
            </div>
        </div>
    </div>
</div>
<div id="tp-breadcrumb" class="tp-breadcrumb">
    <!-- breadcrumb -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <a asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                    </li>
                    <li class="text-dark">
                        <a>@Localizer["Products"]</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- /.breadcrumb -->
<div id="main-container" class="main-container">
    <!-- main container -->
    <div class="woo-shop" id="woo-shop">
        <h2>@ViewBag.productCount</h2>
        <div class="container">
            <div class="row">

                @foreach (var product in Model.Products)
                {
                    <div class="col-md-4 my-4">
                        <div class="card h-100">
                            <div class="card-image">
                                <img class="card-img-top" src="~/img/@product.Image" alt="@product.Image">
                            </div>
                            <div class="card-body">
                                @if (ViewBag.Culture == "az")
                                {
                                    <h5 class="card-title">@product.Name</h5>
                                    <p class="card-text">@product.Description</p>
                                }
                                else if (ViewBag.Culture == "en")
                                {
                                    <h5 class="card-title">@product.NameEn</h5>
                                    <p class="card-text">@product.DescriptionEn</p>
                                }
                                else if (ViewBag.Culture == "ru")
                                {
                                    <h5 class="card-title">@product.NameRu</h5>
                                    <p class="card-text">@product.DescriptionRu</p>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- /.main container -->