@model IEnumerable<History>;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["History"];
    Layout = "_Layout";
}

<div id="tp-page-header" class="tp-page-header">
    <!-- page header -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@Localizer["History"]</h1>
            </div>
        </div>
    </div>
</div>
<!-- /.page header -->
<div id="tp-breadcrumb" class="tp-breadcrumb">
    <!-- breadcrumb -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <a asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                    </li>
                    <li class="active">@Localizer["History"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div id="main-container" class="main-container">
    <!-- main container -->
    <div id="tp-service-detail" class="tp-service-detail">
        <!-- service detaile -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 left-sidebar">
                    <!-- left sidebar -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="service-block">
                                <div class="service-content">
                                    <!-- info -->
                                    <h1>@Localizer["History"]</h1>
                                    <!-- /.info -->
                                </div>
                            </div>
                        </div>
                        <div class="bullet">
                        </div>
                        <!-- /.bullet -->
                        <style type="text/css">
                            .font16 {
                                font-size: 17px;
                            }
                        </style>
                        <div class="col-md-12 text-justify font17">
                            @foreach (var history in Model)
                            {
                                <p>@history.Description</p>
                            }
                        </div>
                        <div class="col-md-12">
                            <p>&nbsp;</p>
                            <div class="h3">@Localizer["Also"]</div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a asp-controller="About" asp-action="Index">@Localizer["WhoAreWe"]</a>
                                </li>
                                <li class="list-group-item">
                                    <a asp-controller="About" asp-action="Target">@Localizer["Mission"]</a>
                                </li>
                                <li class="list-group-item">
                                    <a asp-controller="About" asp-action="Value">@Localizer["Value"]</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.service detaile -->
</div>